/*All*/
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 40px;
    color: orange;
    font-weight: 900;
}
h3{
    
}
body{
    text-align: center;
    background-color: #f5f3e2;
    align-items: center;
    margin: auto;
}
html{
    max-height: 100%;
}

/*Logo & Copyright*/
#bottom{
    vertical-align: baseline;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}
#copyright{
    font-family:courier; 
    font-size:50%;
}
#logo{
    width: 94px;
    height: 43px;
}

/*Index.html*/

#title{
    margin-top: 50px;
}
#green a:hover, #about a:hover{
    opacity: .9;
}
#green{
    margin-bottom:50px;
}
button, .green-button{
    height:80px;
    width: 240px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #4CAF50; 
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 5px 10px;
    cursor: pointer; 
    border-radius: 100px;
    line-height: 80px;
}
#about{
    margin-bottom: 40px;
    margin-top: 50px;
}
#about a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 20px;
    color:white;
    background-color:orange;
    border-radius: 100px;
    text-decoration: none;
}
#bottomLogo{
    width: 20%;
    height: 20%;
}

/*Font Awesome*/
.fa {
    padding: 10px;
    font-size: 5px;

    height:15px;
    width: 15px;

    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    z-index: 2;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/*student.html*/
#top{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}
#enterNickname,#ready0,#waiting,#ready1,#ready2,#ready3,#ready4,#ready5,#ready6,#ready7,#ready8,#ready9{
    display:none;            
 }
.game{
    padding-left:169px;
}
#studentRoomCode{
    align-self: center;
}
#student input, #enterNickname input{
    height:70px;
    width:300px;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}
waiting{
    margin-right:186px;
}
img{
    vertical-align: top;
    display:inline;
}
#oppRep0,#oppRep1,#oppRep2,#oppRep3,#oppRep4,#oppRep5,#oppRep6,#oppRep7,#oppRep8,#oppRep9,#myRep{
    background-color:yellow;
    text-align: center;
    margin-left:39%;
    margin-right:39%;
    height: 40px;
}


#oneline0{
    padding-left:180px;
}

@media only screen and (max-width: 768px) {

    #oneline0,#oneline1,#oneline2,#oneline3,#oneline4,#oneline5,#oneline6,#oneline7,#oneline8,#oneline9{
        padding-left:0px !important;
    }
    #info{
        padding-right:0px !important;
    }
    #cheat0,#cheat1,#cheat2,#cheat3,#cheat4,#cheat5,#cheat6,#cheat7,#cheat8,#cheat9{
        margin-bottom:20px;
    }

}

#info{
    padding-right:175px;
    font-family: 'Catamaran',sans-serif;
    font-weight: bold;
    font-size:25px;
}
li{
    list-style-type:none;
    font-family: 'Catamaran',sans-serif;
}
#chatbox button{
    width:100px;
    height:47px;
    font-size:15;
}
#chatbox input{
    height: 46px;
    font-family: 'Catamaran',sans-serif;
    font-size:20px;
}

/*quickplay.html*/
#connecting{
    margin-top: 45vh;
}

/*teacher.html*/
    

#send{
    
}
#yourRoomCode,#names,#playGame,#players,#options,#restartGameButton{
   display:none;
}
#code{
    color: orange;
    font-weight: 100;
}
#playGame{
    margin:auto;
    margin-top: 10px;
}
li, label{
    font-family: 'Poppins', sans-serif;
}
li{
    padding:0;
    list-style-type:none;
    font-size: 30px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
#names button{
    height:50px;
    width:102px;
    font-size:20px;
    background-color: #800000;
}
#roundNum{
    margin-bottom: 15px;
}
#playGameButton{
    align-items: center;
    width: 100%;
}

.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}